body{
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
}

.attribution {
    display: none;
    margin-top: 10px;
    font-size: 11px;
    text-align: center;
}
.attribution a { color: hsl(228, 45%, 44%); }

.card{
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 288px;

}

.card img {
    border-radius: 3%;
    width: 288px;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.texts{
    font-family: Outfit, sans-serif;
    text-align: center;
    margin-top: 19px;
    /*padding: 0;*/
}

.description{
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    /*margin: 0;*/
    padding: 0 20px;
}
.title{
    font-size: 22px;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    /*margin: 0;*/
}

